* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: #000000;
}

#container {
    display: grid;
    grid-template-columns: repeat(20, 100px);
    grid-gap: 2px;
    
    
}

#container span {
    position: relative;
    width: 100px;
    height: 100px; /* Altura ajustada para hexágono */
    background: #060606;
    z-index: 10;
    border-radius: 5%;
    aspect-ratio: cos(30deg);
    
}


#container span::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 100%;
    background: rgba(255, 255, 255, 0, 0.05);
}

#cursor
{
    position: fixed;
    width: 170px;
    height: 170px;
    background: #0f0;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 60%;
    animation: animate 4s linear infinite;
    pointer-events: none; /* Para evitar que o cursor bloqueie cliques */
}

#cursor::before,
#cursor::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f0;
    border-radius: 50%;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg) blur(50px);
    }
    100% {
        filter: hue-rotate(360deg) blur(50px);
    }
}
