/* Estilos Gerais */

body {
    font-family: "Roboto";
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 56px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --primary-dark: #002147;
    --secondary-dark: #111111;
    --accent-green: #00ff9d;
    --text-white: #ffffff;
    --green-shadow: rgba(0, 255, 157, 0.3);
}

main {
    flex: 1 0 auto;
}


/* Navbar */

.navbar {
    background-color: var(--primary-dark) !important;
    box-shadow: 0 4px 20px var(--green-shadow);
    transition: all 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--text-white) !important;
    position: relative;
    transition: color 0.3s ease;
    padding: auto;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--accent-green) !important;
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-green);
    transition: width 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 100%;
}


/* Logo */

.logo-principal {
    transition: all 0.3s ease;
    width: 110px;
    left: -170%;
    position: relative;
}

.logo-principal:hover {
    filter: drop-shadow(0 0 10px var(--accent-green));
}

.masthead-heading {
    margin-top: 20px;
    /* Ajuste o espaço para evitar sobreposição */
}

h1 {
    font-size: 2em;
    color: var(--hover-color);
}

.col-lg-8 {
    top: 60px;
    text-align: left;
}

.col-lg-8 h1 {
    text-align: left;
    padding-bottom: 15px;
}


/* Seção Sobre */

#about .img-fluid {
    width: 300px;
    height: 300px;
    /* Certifique-se de que altura e largura são iguais para manter a forma circular */
    border-radius: 50%;
    /* Deixa a imagem redonda */
    transition: transform 0.3s ease;
    /* Remova qualquer estilo de borda */
    border: none;
}

.image-perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px var(--green-shadow);
    flex-shrink: 0;
    margin-top: 45px;
}


/* Linha do Tempo Horizontal */

.linha-do-tempo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
    padding: 20px 0;
    max-width: 1200px;
    /* Aumente este valor para alongar a linha */
    position: relative;
    overflow-x: auto;
}


/* Linha horizontal conectora */

.linha-do-tempo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #cccccc;
    transform: translateY(-50%);
    z-index: 0;
}

.evento {
    position: relative;
    flex: 1;
    text-align: center;
    z-index: 1;
}


/* secção de alterção de ponto */

.evento .ponto {
    width: 15px;
    height: 15px;
    background-color: #002147;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--green-shadow);
}

.ponto,
.ponto-2 {
    width: 15px;
    height: 15px;
    background-color: #002147;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--green-shadow);
}

.evento:hover .ponto,
.evento:hover .ponto-2 {
    transform: translateX(-50%) scale(1.5);
    box-shadow: 0 0 20px var(--accent-green);
}

.ano {
    font-weight: bold;
    color: #333;
    font-size: 1em;
    margin-top: -10px;
}

.ano-2 {
    font-weight: bold;
    color: #333;
    font-size: 1em;
    margin-top: 85px;
}

.cargo {
    font-size: 0.9em;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.empresa {
    font-style: italic;
    color: #999;
    font-size: 0.9em;
    margin-top: -90px;
}

.empresa-2 {
    font-style: italic;
    color: #999;
    font-size: 0.9em;
    margin-top: -15px;
}


/* Alternância de conteúdo acima/abaixo da linha */

.evento:nth-child(odd) {
    margin-top: 30px;
}

.evento:nth-child(even) {
    margin-top: -30px;
}


/* Importando a fonte usada no modelo */

#header {
    text-align: center;
    margin-bottom: 30px;
}

#header h1 {
    font-size: 3rem;
}

S #header p {
    font-size: 1.5rem;
    font-style: italic;
}


/*TAMANHO DA FAIXA HEADER*/

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: -5px;
    backdrop-filter: blur(8px);
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 60px;
    padding: 10px;
}

.card>div {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

.card-image {
    width: 370px;
    height: 350px;
    left: 10px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    margin: -70px auto;
    margin-bottom: -60px;
    height: 300px;
    width: 320px;
    background-color: #1D1C20;
    color: #fff;
    padding: 20px;
    border-radius: 16px;
}

.card-title {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.card-body {
    font-size: 1.25rem;
}

.btn-primary {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: #0fa994;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn-primary:hover {
    background-color: #1a8074;
}

html {
    scroll-behavior: smooth;
}


/* serviços */

#services-buttons {
    background-color: #f8f9fa;
    /* Fundo claro */
    padding: 60px 0;
}

#services-buttons h2 {
    font-weight: bold;
    color: #333;
    text-align: center;
    top: auto;
}

.service-button {
    text-align: center;
}

.service-button .btn-circle {
    width: 150px;
    height: 100px;
    background-color: #007bff00;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s ease, transform 0.2s ease;
    outline: none;
    position: relative;
    left: 100px;
}

.service-button .btn-circle:hover {
    background-color: #e8e1e100;
    transform: scale(1.1);
}

.service-button p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.service-button .btn-icon {
    width: 100px;
    /* Tamanho da imagem */
    height: 100px;
    margin-bottom: 5px;
    /* Espaçamento entre o ícone e o texto */
    border-radius: 50px;
}

.service-button .btn-circle {
    flex-direction: column;
    /* Permite alinhar a imagem e o texto verticalmente */
    gap: 5px;
    /* Espaçamento entre a imagem e o texto */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-4 {
    top: 50px;
    content: "";
}

.mt-3 {
    text-align: center;
    top: -25px;
    padding: 15px;
}


/* Footer Social */

.social-footer {
    background-color: var(--footer-color);
    padding: 20px;
    color: var(--text-color);
    margin-top: auto;
}

.social {
    margin: 0 auto;
}

.social-icon {
    display: inline-block;
    width: 120px;
    /* Aumente o tamanho da largura do ícone */
    height: 120px;
    /* Aumente o tamanho da altura do ícone */
    color: var(--text-color);
    text-align: center;
    padding: 15px 0;
    /* Ajuste o padding se necessário */
    margin: 10px;
    /* Espaçamento entre os ícones */
    border-radius: 3px;
    transition: background-color 0.5s ease;
}

.social-icon:hover {
    color: var(--accent-green);
    transform: translateY(-5px);
    text-shadow: 0 0 10px var(--accent-green);
}

.social-icon::after {
    background-color: rgba(255, 0, 0, 0) !important;
}


/* Tooltip */

[data-tooltip] {
    position: relative;
}

[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

[data-tooltip]:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: #323232;
    margin-bottom: -5px;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: #ecf0f1;
    padding: 5px 8px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 1.5;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

.form-control {
    background-color: #fff border: 1px solid var(--accent-green);
    color: var(--text-white);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px var(--green-shadow);
}

.form-control:focus {
    background-color: var(--secondary-dark);
    box-shadow: 0 0 15px var(--accent-green);
    color: var(--text-white);
    border-color: var(--accent-green);
}


/* Footer */

footer.bg-dark {
    padding: 1rem 0;
    background-color: #002147 !important;
    color: var(--text-color);
    margin-top: 0;
    box-shadow: 0 4px 20px var(--green-shadow);
    transition: all 0.3s ease-in-out;
}


/* Button Hamburguer */

.button-hamburguer {
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
}

.button-hamburguer .hamburguer-line,
.button-hamburguer .hamburguer-line:before,
.button-hamburguer .hamburguer-line:after {
    width: 100%;
    height: 3px;
    background-color: #36be0d;
    position: absolute;
    transition: all 0.3s ease;
}

.button-hamburguer .hamburguer-line {
    top: 50%;
    transform: translateY(-50%);
}

.button-hamburguer .hamburguer-line:before {
    content: '';
    top: -8px;
}

.button-hamburguer .hamburguer-line:after {
    content: '';
    bottom: -8px;
}


/* Animação quando ativo */

.button-hamburguer.active .hamburguer-line {
    background-color: transparent;
}

.button-hamburguer.active .hamburguer-line:before {
    transform: translateY(8px) rotate(45deg);
}

.button-hamburguer.active .hamburguer-line:after {
    transform: translateY(-8px) rotate(-45deg);
}


/* Responsividade */

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }
}


/* responsividade a linha do tempo*/


/* Responsividade para dispositivos menores (até 768px) */

@media (max-width: 768px) {
    .linha-do-tempo {
        flex-direction: column;
        align-items: flex-start;
        overflow-x: visible;
    }
    .linha-do-tempo::before {
        height: 100%;
        width: 2px;
        left: 50%;
        top: 0;
        bottom: 0;
        transform: translateX(-50%);
    }
    .evento {
        flex: unset;
        margin: 1rem 0;
        text-align: left;
        position: relative;
    }
    .evento .ponto {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .evento .ponto-2 {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .ano,
    .ano-2 {
        text-align: left;
        margin-left: 2rem;
    }
    .cargo,
    .empresa,
    .empresa-2 {
        margin-left: 2rem;
    }
}


/* Responsividade para telas muito pequenas (até 480px) */

@media (max-width: 480px) {
    .ano,
    .ano-2 {
        font-size: 0.9em;
    }
    .cargo {
        font-size: 0.8em;
    }
    .empresa,
    .empresa-2 {
        font-size: 0.8em;
    }
}


/* Alinhamento da seção de contato */

#contact {
    display: flex;
    justify-content: center;
    min-height: 10vh;
    padding: 10px 20px;
}


/* Estilização do contêiner do formulário */

#contact .container {
    max-width: 700px;
    /* Limita a largura máxima */
    width: 100%;
    /* Garante que ocupe a largura total disponível */
    text-align: center;
    /* Centraliza o texto */
    align-items: center;
}


/* Estilização do formulário */

#contact-form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Adiciona sombra ao formulário */
    width: 600px;
    align-self: center;
}


/* Inputs e textarea */

#contact-form .form-control {
    font-size: 16px;
    /* Aumenta o tamanho da fonte */
    padding: 15px;
    /* Espaço interno maior */
    margin-bottom: 20px;
    /* Espaçamento entre os campos */
}


/* Botão de envio */

#contact-form button {
    font-size: 18px;
    /* Aumenta o tamanho do texto do botão */
    padding: 12px 20px;
    /* Espaço interno do botão */
    border-radius: 5px;
    /* Borda arredondada */
    background-color: #007bff;
    /* Cor do botão */
    color: #fff;
    /* Cor do texto */
    border: none;
    /* Remove a borda do botão */
    transition: background-color 0.3s ease;
    /* Efeito de transição */
}

#contact-form button:hover {
    background-color: #0056b3;
    /* Cor do botão ao passar o mouse */
}

.texto-contacto {
    bottom: 100px;
}